{% macro card(url='', part='', address='', date='', money='') -%}
<div class="card">
        <!--Card image-->
    <div class="instrument overlay">
        <img src="{{url}}" class="card-img-top" alt="">
        <a>
            <div class="mask rgba-white-slight"></div>
        </a>
    </div>
          <!--Card content-->
    <div class="card-body text-left">
                <!--Category & Title-->
        <a href="" class="dark-grey-text">
            <h5 class="text-left"><strong>파트 : {{part}}</strong></h5>
        </a>

        <h5>
            <strong><a href="" class="dark-grey-text">지역 : {{address}}</a>
            </strong>
        </h5>
        
        <h5>
            <strong><a href="" class="grey-text">연주날짜 : {{date}} </a>
            </strong>
        </h5>
            
        <h4 class="font-weight-bold blue-text text-center" >
            <strong>{{money}} ￦</strong>
        </h4>

        <div class=inst>
            <button type="button" class="inst-btn btn-sm btn-outline-info waves-effect" data-toggle="modal" data-target="#basicExampleModal">
                상세보기
            </button>
                <!-- Modal -->
            <div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">연주 상세보기</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                        ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>   

    </div>
          <!--Card content-->

</div>
{%- endmacro %}

{% macro bt_modal(title1, info1, title2, info2) -%}
<div class="row border font-weight-bold">
    <div class="col-lg-6  text-center border-right">
            {{title1}}
    </div>
    <div class="col-lg-6 text-center" >
            {{title2}}
    </div>
</div>
<div class="row border border-top-0">
    <div class="col-lg-6 text-center border-right">
            {{info1}}
    </div>
    <div class="col-lg-6 text-center">
            {{info2}}
    </div>
</div>
{%- endmacro %}