<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Jinja Test Page </title>
</head>
<body>
    <ul>
    {% for title, name, isShow in lst2 %}
    <li>{{title}}: {{name}} - {{loop.first}} {% if title == '만남1' %} 노사연 {% elif title == '만남2'%} 노사봉 {% else %} 엘스 {% endif %}</li>
    {% endfor %}
    
    </ul>
    <hr>
    <ul>
        {% for rank, title, name, hide, ref in lst recursive %}
        <li>
            {{title}}: {{name}}
            <ul class="sub">{{ loop(ref) }}</ul>
        </li>
        {% endfor %}
    </ul>

    <hr>
    <pre>
    ttt 한글
    {%- if True  -%}
        TTT
    {%- endif -%}qqq
    </pre>
</body>
</html>