{% extends "p_layout.html" %}
{% import "macro/modal.html" as md %}
{% block main %}


<main>
    <div class="container">
<!--Section: Products v.3-->
    <section class="text-center mb-4">
    <!--Grid row-->
        <div class="row wow fadeIn">
        <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4">
        <!--Card-->
                <div class="card">
                <!--Card image-->
                    <div class="instrument overlay">
                        <img src="{{url_for ('static', filename='img/trombone.jpg') }}" class="card-img-top" 
                        alt="">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                  <!--Card content-->
                    <div class="card-body text-left">
                        <!--Category & Title-->
                        <a href="" class="dark-grey-text">
                            <h5 class="text-left"><strong>파트 : Trombone</strong></h5>
                        </a>

                        <h5>
                            <strong><a href="" class="dark-grey-text">지역 : 서울</a>
                            </strong>
                        </h5>
                        
                        <h5>
                            <strong><a href="" class="grey-text">연주날짜 : 2019.02.28 </a>
                            </strong>
                        </h5>
                            
                        <h4 class="font-weight-bold blue-text text-center" >
                            <strong>100,000 ￦</strong>
                        </h4>
                        <div class=inst>
                            <button type="button" class="inst-btn btn-sm btn-outline-info waves-effect" data-toggle="modal" data-target="#modal1">
                                상세보기
                        </button>
                        <!-- Modal -->
                            <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">연주 상세보기</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class= "card col-lg-4 text-left">
                                                    <div class="modal-body mb-0 p-0">
                                                        <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                                                            <iframe class="embed-responsive-item" src="{{url_for ('static', filename='img/v_trombone.mp4') }}" allowfullscreen></iframe>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card col-lg-8">
                                                    
                                                    <div class="row border font-weight-bold">
                                                        <div class="col-lg-6  text-center border-right">
                                                                파트
                                                        </div>
                                                        <div class="col-lg-6 text-center" >
                                                                연주날짜
                                                        </div>
                                                    </div>
                                                    <div class="row border border-top-0">
                                                        <div class="col-lg-6 text-center border-right">
                                                                Trombone
                                                        </div>
                                                        <div class="col-lg-6 text-center">
                                                                2019.02.28
                                                        </div>
                                                    </div>
                                                    <div class="row border border-top-0 font-weight-bold">
                                                        <div class="col-lg-6 text-center border-right">
                                                                지역
                                                        </div>
                                                        <div class="col-lg-6 text-center">
                                                                금액
                                                        </div>
                                                    </div>
                                                    <div class="row border border-top-0">
                                                        <div class="col-lg-6 text-center border-right">
                                                                서울
                                                        </div>
                                                        <div class="col-lg-6 text-center">
                                                                100,000 ￦
                                                        </div>
                                                    </div>
                                                    {{md.bt_modal('인원', '1명', '복장', '정장')}}
                                                    <div class="row border border-top-0">
                                                        
                                                    </div>
                                                </div>  
                                            </div>
                                            <hr>
                                            <div class="row">
                                                
                                                <div class="container text-left">
                                                    <h3>&nbsp 상세정보</h3>
                                                    <hr>
                                                    <h3> {{mm}} 월</h3>
                                                        <table>
                                                            <thead>
                                                                <tr>
                                                                    {%- for w in '일월화수목금토' %}
                                                                        <th>{{w}}</th>
                                                                    {% endfor -%}
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                {% for row in range(sdt, edt) | batch(7, '&nbsp;') %}
                                                                <tr>
                                                                    {% for col in row %}
                                                                        <td>{% if ((col|int) <= 0) %}&nbsp;{%else%}{{col | safe}}{%endif%}</td>
                                                                    {% endfor %}
                                                                </tr>
                                                                {% endfor %}
                                                            </tbody>
                                                        </table>
                                                </div>
                                                <hr>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>   
    
                    </div>
                  <!--Card content-->
    
                </div>
                <!--Card-->
    
            </div>
        <div class="col-lg-3 col-md-6 mb-4">
            <!--Card-->
                {{md.card(url_for ('static', filename='img/trumpet.jpg'), 'Trumpet' , '부산', '2019.02.13', '200,000') }}
            <!--Card-->
    
        </div>
              <!--Grid column-->
    
              <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4">
                {{md.card(url_for ('static', filename='img/flute.jpg'), 'Flute' , '인천', '2019.02.13', '70,000') }}
                <!--Card-->
              <!--Fourth column-->
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
                {{md.card(url_for ('static', filename='img/horn.jpg'), 'Horn' , '전북', '2019.03.02', '130,000') }}
        </div>
    </div>
            <!--Grid row-->
    
            <!--Grid row-->
        <div class="row wow fadeIn">
              <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4">
                {{md.card(url_for ('static', filename='img/percussion.jpg'), 'Percussion' , '충북', '2019.02.18', '90,000') }}
            </div>
              <!--Grid column-->
    
              <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4">
                <!--Card-->
                {{md.card(url_for ('static', filename='img/saxophone.jpg'), 'Saxophone' , '서울', '2019.02.20', '230,000') }}
    
            </div>
              <!--Grid column-->
              <div class="col-lg-3 col-md-6 mb-4">
                {{md.card(url_for ('static', filename='img/tuba.jpg'), 'Tuba' , '서울', '2019.02.21', '170,000') }}
                <!--Card-->
              </div>
              <!--Fourth column-->
              <div class="col-lg-3 col-md-6 mb-4">
                {{md.card(url_for ('static', filename='img/trombone.jpg'), 'Trombone' , '경기', '2019.02.13', '120,000') }}
                <!--Card-->
              </div>
              <!--Fourth column-->
    
            </div>
            <!--Grid row-->
    
        </section>
          <!--Section: Products v.3-->
    
          <!--Pagination-->
          
          <!--Pagination-->
   </div> 
</main>
{% endblock %}