{% extends "p_layout.html" %}
{% import "macro/modal.html" as md %}
{% block main %}
<main>
    <div class="container">
<!--Section: Products v.3-->
    <section class="text-center mb-4">
    <!--Grid row-->
        <div class="row wow fadeIn">
        <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4">
        <!--Card-->
                <div class="card">
                <!--Card image-->
                    <div class="instrument overlay">
                        <img src="{{url_for ('static', filename='img/trombone.jpg') }}" class="card-img-top" 
                        alt="">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                  <!--Card content-->
                    <div class="card-body text-left">
                        <!--Category & Title-->
                        <a href="" class="dark-grey-text">
                            <h5 class="text-left"><strong>파트 : Trombone</strong></h5>
                        </a>

                        <h5>
                            <strong><a href="" class="dark-grey-text">지역 : 서울</a>
                            </strong>
                        </h5>
                        
                        <h5>
                            <strong><a href="" class="grey-text">연주날짜 : 2019.02.28 </a>
                            </strong>
                        </h5>
                            
                        <h4 class="font-weight-bold blue-text text-center" >
                            <strong>100,000 ￦</strong>
                        </h4>
                        <div class=inst>
                            <button type="button" class="inst-btn btn-sm btn-outline-info waves-effect" data-toggle="modal" data-target="#basicExampleModal">
                                상세보기
                        </button>
                        <!-- Modal -->
                            <div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">연주 상세보기</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                        ...
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>   
    
                    </div>
                  <!--Card content-->
    
                </div>
                <!--Card-->
    
            </div>
        <div class="col-lg-3 col-md-6 mb-4">
            <!--Card-->
                {{md.card(url_for ('static', filename='img/trombone.jpg'), 'Trombone' , '서울', '2019.02.13', '200,000') }}
            <!--Card-->
    
        </div>
              <!--Grid column-->
    
              <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4">
                {{md.card(url_for ('static', filename='img/trombone.jpg'), 'Trombone' , '서울', '2019.02.13', '200,000') }}
                <!--Card-->
              <!--Fourth column-->
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
                {{md.card(url_for ('static', filename='img/trombone.jpg'), 'Trombone' , '서울', '2019.02.13', '200,000') }}
        </div>
    </div>
            <!--Grid row-->
    
            <!--Grid row-->
        <div class="row wow fadeIn">
              <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4">
                {{md.card(url_for ('static', filename='img/trombone.jpg'), 'Trombone' , '서울', '2019.02.13', '200,000') }}
            </div>
              <!--Grid column-->
    
              <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4">
                <!--Card-->
                {{md.card(url_for ('static', filename='img/trombone.jpg'), 'Trombone' , '서울', '2019.02.13', '200,000') }}
    
            </div>
              <!--Grid column-->
              <div class="col-lg-3 col-md-6 mb-4">
                {{md.card(url_for ('static', filename='img/trombone.jpg'), 'Trombone' , '서울', '2019.02.13', '200,000') }}
                <!--Card-->
              </div>
              <!--Fourth column-->
              <div class="col-lg-3 col-md-6 mb-4">
                {{md.card(url_for ('static', filename='img/trombone.jpg'), 'Trombone' , '서울', '2019.02.13', '200,000') }}
                <!--Card-->
              </div>
              <!--Fourth column-->
    
            </div>
            <!--Grid row-->
    
        </section>
          <!--Section: Products v.3-->
    
          <!--Pagination-->
          
          <!--Pagination-->
   </div> 
</main>
{% endblock %}