<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Jinja Test Page </title>
</head>
<body>
    <ul>
        {% for name, url, ref in lst recursive %}
        <li>
            <a href={{url}}>{{name}}</a>
            {% if ref %}
            <ul class="sub">{{ loop(ref) }}</ul>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</body>
</html>